<div class="author-container">
  <button class="back-button" >
    &larr; Back to Article
  </button>

  <div class="author-profile">
    <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Author" class="profile-pic">
    <h1> ashish </h1>

    <div class="detail-item">
      <span class="label">Email:</span>
      <span class="value">ashisGmail.com </span>
    </div>

    <div class="detail-item">
      <span class="label">Experience:</span>
      <span class="value"> 5 + years</span>
    </div>

    <div class="detail-item">
      <span class="label">Contact:</span>
      <span class="value">9876543211</span>
    </div>

    <div class="bio">
      <h2>About</h2>
      <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat, quod! Reprehenderit velit quasi eligendi, illo minus sequi laboriosam doloremque qui</p>
    </div>

    <div class="social-media">
      <h2>Connect</h2>
      <div class="social-icons">
        <div  class="social-item">
          <span class="social-icon">𝕏</span>
          <span>ash_tweets </span>
        </div>
        <div  class="social-item">
          <span class="social-icon">f</span>
          <span> ashSays </span>
        </div>
        <div  class="social-item">
          <span class="social-icon">📷</span>
          <span>ash_journali</span>
        </div>
      </div>
    </div>
  </div>
</div>
